src/main/mule/token-caching.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="6d8fcf21-1db1-4959-be69-f1e6344a04cb" keyGenerationExpression="#[token-caching]"  objectStore="Object_store"/>
	<os:config name="ObjectStore_Config" doc:name="ObjectStore Config" doc:id="00c67b03-7aac-49be-946d-f0143d602d46" >
		<os:connection />
	</os:config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="f7ad8ad0-9f54-4888-8b75-6fe936f4f78f" persistent="false" maxEntries="1" entryTtl="60" entryTtlUnit="MINUTES" expirationInterval="30" config-ref="ObjectStore_Config" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="24706046-a5c0-4719-af52-993346a16553" >
		<http:request-connection host="localhost" port="3001" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1ee03fdd-c7a2-428b-969f-41b832a11e47" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="token-cachingFlow" doc:id="0a1068eb-253c-40b5-8b3a-13e4e166ca5e" >
		<http:listener doc:name="Listener" doc:id="abe7c82b-bcd0-4511-9418-c42763642e31" config-ref="HTTP_Listener_config" path="/getToken"/>
		<logger level="INFO" doc:name="Logger" doc:id="dcd0eeab-ad14-489c-ba8b-7a82cc6fa13a" />
		<ee:cache doc:name="Cache" doc:id="49446aaf-ba02-4816-87a9-32fbddb3d591" cachingStrategy-ref="Caching_Strategy">
			<try doc:name="Try" doc:id="c85edb3c-181d-4208-9d88-81967d766748" >
				<http:request method="POST" doc:name="Request" doc:id="a9ecf824-92cd-490f-95d7-81473f0a7dce" config-ref="HTTP_Request_configuration" path="token"/>
			</try>
		</ee:cache>
		<ee:transform doc:name="Transform Message" doc:id="85d95dc0-c0bd-43aa-a3d3-e0ea0c664772" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.access_token]" doc:name="var token" doc:id="ad90b1c1-ea12-4ed1-bd24-2992326edaa5" variableName="token"/>
		<logger level="INFO" doc:name="Logger" doc:id="a9ca10ee-06b7-49a0-8cf5-c1c03fb0f320" />
	</flow>
</mule>
